<h1>All bookings</h1>

<h1>Hello, <%= @current_client.email %>!</h1>
<h2> You have got <%= pluralize(@current_client.bookings.count, 'booking')  %> available.</h2>

<% @current_client.bookings.each do |booking| %>
<p>
<%= booking.title %>
</p>

<div class=“controls”>
  <%= link_to "Edit booking", edit_booking_path(booking) %>
  <%= link_to "Delete booking", booking, :method => 'delete', :data => { :confirm => "Are you sure?"} %>
</div>
<% end %>

<iframe width='50%' height='300px' src="https://api.mapbox.com/styles/v1/alexhappylucky/ckv7f9a3a8jx914o3vnrwyqlu.html?title=false&access_token=pk.eyJ1IjoiYWxleGhhcHB5bHVja3kiLCJhIjoiY2t2N2Y2MnFjMW9xZTJucDY4bGRnMHZwbyJ9.rQR2wnOUTCzRt9oI7CstQA&zoomwheel=false#9/37.78/-122.4241" title="Streets" style="border:none;"></iframe>
