<h1>Welcome</h1>

<h1>What Restaurant would you like to have a dinner at?</h1>


<% if @current_client.present? %>
<h1><%= @current_client.name %></h1>
<% end %>

<% if @current_client.present? %>
  <% @restaurants.each do |restaurant| %>

    <p> <%= restaurant.name %> </p>
    <p> rating: <%= restaurant.rating %> stars </p>
    <p> <%= image_tag restaurant.image %> </p>

<%= link_to 'Book now', restaurant_path(restaurant) %>

  <% end %>

<% end %>
